/* h3.home_content{
    font-size: 200%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 3em;
} */
/* #area-chart{
    min-width: 20em;
    height:20em;
    margin:0 auto;  
   
}

div.hot-data{
    text-align: center;
    margin-top: 2em;
}
div.hot-data a{
    font-size: 16px;
}
li{
    list-style-type: none;
} */
